# https://github.com/github/gitignore/blob/main/Python.gitignore

.env
.flaskenv
env/
venv/
.venv/
env*

.DS_Store

*.pyc
*.pyo
.pytest_cache/

dist/
build/
docs/_build/

*.egg
*.egg-info/
_mailinglist
.tox/
.cache/

.idea/
.vscode

# Flask stuff:
instance/
.webassets-cache

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover