{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Hi {{ username }}!</h2>
  <form method="post">
    <p>Please note: all fields are required. Thank you.</p>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      oninvalid="this.setCustomValidity('Enter Password')"
      oninput="this.setCustomValidity('')">
    <label for="phone_number">Phone Number (10 digital numbers, no space or hyphen)</label>
    <input
      name="phone_number"
      id="phone_number"
      required
      oninvalid="this.setCustomValidity('Enter valid phone number')"
      oninput="this.setCustomValidity('')">
    <label for="initial_amount">Inital Amount for Deposit</label>
    <input
      name="initial_amount"
      id="initial_amount"
      required
      oninvalid="this.setCustomValidity('Enter valid amount for deposit')"
      oninput="this.setCustomValidity('')">
    <input type="submit" value="Register">
  </form>
{% endblock %}